RewriteEngine on

RewriteRule ^api/vocab/(.*)/level/(.*)\/?$ /api/?section=vocab&grade=$1&level=$2
RewriteRule ^api/math/(.*)/level/(.*)\/?$ /api/?section=math&grade=$1&level=$2
RewriteRule ^api/letter_sounds/(.*)/level/(.*)\/?$ /api/?section=letter_sounds&grade=$1&level=$2
